{% extends 'car_dealer_navbar.html' %}
{% load static i18n %}
{% block title %} RentRide | {% trans "Add a car"|capfirst %} {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container">
    <img src="../static/img/Midway-Motors-Rentals-Headliner.png" alt="Image" class="img-fluid">
<form method="POST" enctype="multipart/form-data"> {% csrf_token %}
    <div class="row mt-2">
        <div class="form-group col-md-12">
            <label><i style="font-weight: bold;">{% trans "Car Name"|capfirst %}</i></label>
            <input type="text" class="form-control" name="car_name" placeholder="{% trans "Name of the Car"|capfirst %}">
        </div>
    </div>
    
    <div class="row mt-3">
        <div class="form-group col-md-6">
            <label><i style="font-weight: bold;">{% trans "City"|capfirst %}</i></label>
            <input type="text" class="form-control" name="city" placeholder="{% trans "City"|capfirst %}">
        </div>
        <div class="form-group col-md-6">
            <label><i style="font-weight: bold;">{% trans "Car Image"|title %}</i></label>
            <input type="file" class="form-control" name="image">
        </div>
    </div>

    <div class="row mt-3">
        <div class="form-group col-md-12">
            <label><i style="font-weight: bold;">{% trans "Capacity"|capfirst %}</i></label>
            <input type="number" class="form-control" name="capacity" placeholder="{% trans "Number of Seats"|capfirst %}">
        </div>
    </div>

    <div class="row mt-3">
        <div class="form-group col-md-12">
            <label><i style="font-weight: bold;">{% trans "Rent"|capfirst %}</i></label>
            <input type="number" class="form-control" name="rent" placeholder="{% trans "Rent (per day)"|capfirst %}">
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">{% trans "Submit"|capfirst %}</button>
  </form>
  </div>
{% endblock %}
{% block js %}
<script>
    {% if alert %}
    alert("Car added successfully.")
    document.location = "/add_car"
    {% endif %}
</script>
{% endblock %}

