{% extends 'car_dealer_navbar.html' %}
{% load static %}
{% block title %} RentRide | {% trans "Dealer page"|capfirst %} {% endblock %}
{% block body %}
<div class="container">
{% if cars %}
<h1 class="mt-4">{% trans "Cars List"|title %}</h1>
<div class="users-table mt-4">
    <table>
        <tbody>
            <tr>
                <th>{% trans "Car Name"|title %}</th>
                <th>{% trans "Image"|capfirst %}</th>
                <th>{% trans "City"|capfirst %}</th>
                <th>{% trans "Capacity"|capfirst %}</th>
                <th>{% trans "Delete"|capfirst %}</th>
            </tr>
            {% for car in cars %}
            <tr>
                <td>{{car.name}}</td>
                <td><img src="{{car.image.url}}" alt="" width="100px" height="100px"></td>
                <td>{{car.location.city}}</td>
                <td>{{car.capacity}}</td>
                <td><a href="/delete_car/{{car.id}}/" class="btn btn-danger"
                        onclick="return confirm('{% trans "Are you sure you want to delete"|capfirst %} {{car.name}}?')">{% trans "Delete"|capfirst %}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <br>
    <h2>{% trans "No Cars Added Yet"|title %}</h2>
    {% endif %}
</div>
{% endblock %}