{% extends 'base.html' %}
{% load static i18n %}
{% block title %} {% trans "Car Dealer Signup"|title %} {% endblock %}
{% block body %}
<form style="border:1px solid #ccc" method="POST"> {% csrf_token %}
  <div class="container">
    <h1>{% trans "Car Dealer Signup Form"|title %}</h1>
    <p>{% trans "Please fill in this form to create an account"|capfirst %}.</p>
    <hr>

    <label><b>{% trans "First Name"|title %}</b></label>
    <input type="text" placeholder="{% trans "Enter First Name"|title %}" name="first_name" required>

    <label><b>{% trans "Last Name"|title %}</b></label>
    <input type="text" placeholder="{% trans "Enter Last Name"|title %}" name="last_name" required>

    <label><b>{% trans "Username"|capfirst %}</b></label>
    <input type="text" placeholder="{% trans "Enter Username"|title %}" name="username" required>

    <label><b>{% trans "Email"|capfirst %}</b></label>
    <input type="text" placeholder="{% trans "Enter Email"|title %}" name="email" required>

    <label><b>{% trans "Contact Number"|title %}</b></label>
    <input type="text" placeholder="{% trans "Enter Contact Number"|title %}" name="phone" required>

    <label><b>{% trans "City"|capfirst %}</b></label>
    <input type="text" placeholder="{% trans "Enter City"|title %}" name="city" required>

    <label><b>{% trans "Password"|capfirst %}</b></label>
    <input type="password" placeholder="{% trans "Enter Password"|title %}" name="password1" required>

    <label><b>{% trans "Confirm Password"|title %}</b></label>
    <input type="password" placeholder="{% trans "Confirm Password"|title %}" name="password2" required>
    
    <p>{% trans "By creating an account you agree to our"|capfirst %} <a href="#" style="color:dodgerblue">{% trans "Terms & Privacy" %}</a>.</p>

      <button type="submit" class="btn" style="background-color: #71cc0971; font-size: 22px; width: 8rem;">{% trans "Signup"|capfirst %}</button>
  </div>
</form>
</body>
</html>
{% endblock %}