{% extends 'customer_navbar.html' %}
{% load static i18n %}
{% block title %} {% trans "Rent a Car"|title %} {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container mt-4">
    <h1>{% trans "Rent a Car"|title %}</h1>
    <form class="w3-container" method="post">
        {% csrf_token %}
        <p>{% trans "Car"|capfirst %}: {{ car.name }}</p>
        <p>{% trans "Price"|capfirst %}: €{{ cost_per_day }} per day</p>
        <label for="days">{% trans "How many days"|capfirst %}?</label>
        <input type="text" id="days" name="days" placeholder="2">
        <input type="hidden" name="id" value="{{ car.id }}">
        <button class="btn" style="color: white; background-color: rgb(0, 98, 128);" type="submit">{% trans "Confirm"|capfirst %}</button>
    </form>
</div>
{% endblock %}
