{% extends 'customer_navbar.html' %}
{% block title %} Complete Order {% endblock %}
{% block css %}{% endblock %}
{% block body %}
<div class="container mt-4">
    <h1>Complete Order</h1>
    <form class="w3-container" method="post">
        {% csrf_token %}
        <p>Order ID: {{ order.id }}</p>
        <p>Car: {{ order.car.name }}</p>
        <p>Rent: €{{ order.rent }}</p>
        <p>Days: {{ order.days }}</p>
        <button class="btn" style="color: white; background-color: rgb(0, 98, 128);" type="submit">Complete Order</button>
    </form>
</div>
{% endblock %}
