{% extends 'car_dealer_navbar.html' %}
{% load static i18n %}
{% block title %} RentRide | {% trans "Earnings"|capfirst %} {% endblock %}
{% block body %}
<div class="container">
    <img src="../static/img/Midway-Motors-Rentals-Headliner.png" alt="Image" class="img-fluid">
    {% if all_orders %}
    <h1 class="mt-4">{% trans "Total Earnings"|title %}: €{{ amount }}</h1>
    <div class="users-table mt-4">
        <table>
            <tbody>
                <tr>
                    <th>{% trans "Customer Name"|title %}</th>
                    <th>{% trans "Car Name"|title %}</th>
                    <th>{% trans "Image"|capfirst %}</th>
                    <th>{% trans "Days"|capfirst %}</th>
                    <th>{% trans "Rent"|capfirst %}</th>
                    <th>{% trans "Capacity"|capfirst %}</th>
                </tr>
                {% for order in all_orders %}
                <tr>
                    <td>{{order.user.get_full_name}}</td>
                    <td>{{order.car.name}}</td>
                    <td><img src="{{order.car.image.url}}" alt="" width="100px" height="100px"></td>
                    <td>{{order.days}}</td>
                    <td>€ {{order.rent}}</td>
                    <td>{{order.car.capacity}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <br>
        <h2>{% trans "No Earnings Yet"|title %}</h2>
        {% endif %}
    </div>
    {% endblock %}
