{% extends 'customer_navbar.html' %}
{% load static i18n %}
{% block title %} RentRide | {% trans "Order Completed"|title %} {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container mt-4">
      <h3><b>{% trans "Order Completed"|title %}</b></h3>
      <b>{% trans "Your Vehicle Order Has Been Processed"|title %}!</b><br><br>
      <b>{% trans "Total Rent"|title %} :</b> € {{order.rent}}<br><br>
      <b>{% trans "Vehicle"|capfirst %} :</b> {{order.car.name}}<br><br>
      <b>{% trans "Duration"|capfirst %} :</b> {{order.days}} days<br><br>
      <b>{% trans "Car-Dealer"|title %} :</b> {{order.car_dealer.car_dealer.first_name}} {{order.car_dealer.car_dealer.last_name}}<br><br>
      <b>{% trans "Car-Dealer's Contact"|title %}:</b> {{order.car_dealer.phone}}<br><br>
      </div>
      </div>
</div>
{% endblock %}
