{% extends 'customer_navbar.html' %}
{% load static i18n %}
{% block title %} {% trans "Customer Login"|title %} {% endblock %}
{% block css %}
<style></style>
{% endblock %}
{% block body %}
<div class="container">
    <img src="../static/img/Midway-Motors-Rentals-Headliner.png" alt="Image" class="img-fluid">
    {% if all_orders %}
    <h1 class="mt-4">{% trans "Past Orders"|title %}</h1>
    <div class="users-table mt-4">
    <table>
        <tbody>
            <tr>
                <th>{% trans "Car Name"|title %}</th>
                <th>{% trans "Image"|capfirst %}</th>
                <th>{% trans "Days"|capfirst %}</th>
                <th>{% trans "Rent"|capfirst %}</th>
                <th>{% trans "Capacity"|capfirst %}</th>
                <th>{% trans "Action"|capfirst %}</th>
            </tr>
            {% for order in all_orders %}
            <tr>
                <td>{{order.car.name}}</td>
                <td><img src="{{order.car.image.url}}" alt="" width="100px" height="100px"></td>
                <td>{{order.days}}</td>
                <td>€ {{order.rent}}</td>
                <td>{{order.car.capacity}}</td>
                <td>
                    {% if not order.is_complete %}
                        <form method="post" action="{% url 'complete_order' order.id %}">
                            {% csrf_token %}
                            <button class="btn btn-primary" type="submit">{% trans "Complete Order"|title %}</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <br>
    <h2>{% trans "No orders found, or awaiting confirmation from dealer"|capfirst %}</h2>
    {% endif %}
</div>
{% endblock %}
