body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

button:hover {
    opacity: 1;
}

.container {
    padding: 16px;
}
.navbar {
    background-color: rgba(0, 6, 92, 0.443) !important;
}
body {
    margin: 0;
    padding: 0;
    height: 150vh;
  }
  
.footer {
    position: fixed;
    bottom: -40px;
    width: 100%;
    background-color: rgba(0, 6, 92, 0.443);
    color: white;
    text-align: center;
    padding: 20px;
    transition: bottom 0.6s ease;
}
  
.user-panel a {
    position: relative;
    top: -15px;
}

    /* Login/SignUp/Logout mygtukai */
.btn {
    background-color: blue;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.nav-item a.btn {
    background-color: blue;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-item a.btn:hover {
background-color: green;
color: white;
}
.user-panel {
    position: absolute;
    top: 0;
    right: 20px;
}
.navbar-nav {
    margin-right: 50px;
}

/* keiciam spalva uzvedus pelyte ant mygtuku */

.navbar-nav .nav-item  .nav-link:hover .nav-link.active:hover {
    color: #ff0000 !important;
}
  .nav-link.active:hover {
    color: #ff0000 !important;
}

/* Kalbu keitimas */
form.inline-form {
    display: inline-block;
}

/* sidebar */

.sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    right:-130px;
    top:230px;
    width:210px;
    z-index: 1100;
}
.sticky li{
    list-style-type:none;
    background-color:#fff;
    color:#efefef;
    height:43px;
    padding:0px;
    margin:0px 0px 1px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
}
.sticky li:hover{
    margin-left:-115px;
}
.sticky li img{
    float:left;
    margin:5px 4px;
    margin-right:5px;
}
.sticky li p{
    padding-top:5px;
    margin:0px;
    line-height:16px;
    font-size:11px;
}
.sticky li p a{
    text-decoration:none;
    color:#2C3539;
}
.sticky li p a:hover{
    text-decoration:underline;
}

/* contact*/

#contact-us {
    margin-top: 140px;
}
  
#contact-us .container-fluid .col-lg-6 {
    padding: 0px;
}
  
#contact-us .contact-form {
    padding: 80px;
    background-image: url(./img/contact-1-720x480.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
#contact-us .contact-form #contact {
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
}
  
.contact-form input,
.contact-form textarea {
    color: #7a7a7a;
    font-size: 13px;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 100%;
    height: 40px;
    outline: none;
    line-height: 40px;
    padding: 0px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 30px;
}
  
.contact-form textarea {
    height: 150px;
    resize: none;
}
  
.contact-form ::-webkit-input-placeholder {
    color: #7a7a7a;
}
  
.contact-form :-ms-input-placeholder {
    color: #7a7a7a;
}
  
.contact-form ::placeholder {
    color: #7a7a7a;
}
  
.contact-form button {
    display: inline-block;
    font-size: 13px;
    padding: 11px 17px;
    background-color: #ed563b;
    color: #fff;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    transition: all .3s;
    border: none;
    outline: none;
    margin-top: -8px;
}
  
.contact-form button:hover {
    background-color: #f9735b;
}